// === VARIABLES ===

//Подключение шрифтов
//&display=swap - для подключение через плагин VSC
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

// Смена PX на REM ========================
// Для включения относительных единиц rem, все измерения должны приводиться в таком виде $b*n где n - значение в пикселях деленное на 2.
$b: 2px;
// $b: rem(2px);

// Переменные шрифтов========================
$font-family-main: "Lato", helvetica, sans-serif; // Семейство шрифта по умолчанию
// $font-family-help: arial, helvetica, sans-serif;

$size-text: $b * 8;
$line-height: calc(26 / 16) * 100%; // Первое - высота строка, второе - размер шрифта
// $fw-thin : 100;
// $fw-light : 300;
$fw-regular: 400;
// $fw-medium: 500;
// $fw-semiBold: 600;
$fw-bold: 700;
$fw-black: 900;

// Переменные цвета ========================
$color-text: #424551; //Цвет текста по умолчанию
$color-primary: #ff3f3a;
$color-secondary: #f75e05;
$color-help: #009ffd;
$color-btn-colored: linear-gradient(55.95deg, $color-primary 0%, $color-secondary 100%);
$color-main-dark: #1e212c;
$color-wolf: #787a80;
$color-wolf-light: #9a9ca5;
$color-marketing: #03cea4;
$color-recruting: #f89828;
$color-management: #5a87fc;
$color-design: #f52f6e;
$color-development: #7772f1;
$color-slider-dots: #b3b7bc;
$color-bg-card: #ffcf2d;
$color-rabbit: #f4f5f7;
$color-input: #d7dadd;
$color-border: #e5e8ed;
$color-danger: #ff4242;
$color-success: #03cea4;
$color-bg: linear-gradient(55.95deg, rgba($color-primary, 0.2) 0%, rgba($color-secondary, 0.2) 100%);

// $color-orange: #e8aa31;
// $color-main: #000;
// $color-white: #fff;
// $color-dark: #0f0f0f;
// $color-warning: #f68038;

// Тип адаптива========================
// 1 - отзывчивый (у контейнера нет брейкпоинтов)
// 2 - по брейк-поинтам (контейнер меняет ширину по брейкпоинтам
$typeContainer: 1;

// Переменные контейнера и брейкпоинтов ===============================
$minWidth: 320; // Минимальный размер полотна
$maxWidth: 1920; // Максимальный размер полотна
$maxWidthContainer: 1230; // Размер ограничивающего контейнера
$containerPadding: 30; // Отступы безопастности 15px слева 15px справа
// Брейк-поинты
$md1: $maxWidthContainer + $containerPadding; // ПК, Ноутбуки, некоторые планшеты в горизонтальном положении
$md2: 991.98; // Планшеты, некоторые телефоны в горизонтальном положении
$md3: 767.98; // Мобильные телефоны L
$md4: 479.98; // Мобильные телефоны S
